table {
  margin-top: 40px;
}
caption {
  font-weight: bold;
}
th {
  text-align: left;
}
th, td {
  padding: 2px 4px;
}
.row {
  
}
.span {
  display: inline-block;
  vertical-align: top;
  margin-right: 100px;
}
.span:last-child {
  margin-right: 0;
}
input, button {
  margin-right: 4px;
}
input:last-child, button:last-child {
  margin-right: 0;
}